In [ ]:
%autosave 60
#autosave notebook every 60s

IN [ ] for code <br>
shift+Enter to execute the cell <br>

---------------------------------------------------------------
In this bootcamp we are going to cover the following topics and some advanced topics if we have time.
* Data types
    * Numbers
    * Strings
    * Printing
    * Lists
    * Dictionaries
    * Booleans
    * Tuples 
    * Sets
* Comparison Operators
* if, elif, else Statements
* for Loops
* while Loops
* range()
* list comprehension
* functions
* lambda expressions
* map() and filter()
* methods
* File I/O
* numpy
* pandas
* brief intro to regex
* visualizations: matplotlib and seaborn

Advanced topics:
* Generators vs functions
* Object oriented programming
* Errors and exception handling
-----------------------------------------------------------------

## Variable assignments and Arithmetic operations
 Cannot start the assignments with numbers or special characters, cannot be keywords such as list, print etc, 
<br> case sensitive

In [ ]:
a = 17

In [ ]:
#or this way

In [ ]:
#add

In [ ]:
#subtract

In [ ]:
#multiply
a*b

In [ ]:
#division

In [ ]:
#modulus

In [ ]:
#quotient

In [ ]:
#power
pow(2,5,3)

In [ ]:
# Dont use ^ for power :) it is bitwise operators

In [ ]:
#negate

In [ ]:
#complex numbers

### Builtin functions

In [ ]:
#Absolute value

In [ ]:
#cast

In [ ]:
#complex

In [ ]:
#conjugate

In [ ]:
#quotient and remainder

In [ ]:
#to store

In [ ]:
#max fn

In [ ]:
#min

In [ ]:
#to check the data type

In [ ]:
#hex

In [ ]:
#binary

In [ ]:
#another way to power and more efficient for large numbers

In [ ]:
#(2**5)%3

In [ ]:
#rounding numbers

In [1]:
#if you want more operations (trigonometric and others), import math! 
import math

In [2]:
#log2
math.log2(2)

1.0

In [3]:
#log10
math.log10(10)

1.0

In [4]:
#my favorite number!
math.e

2.718281828459045

In [5]:
#second favorite
math.pi

3.141592653589793

In [7]:
#trigonometry 
 #tan(45deg)=1
math.tan(math.pi/4)

0.9999999999999999

In [ ]:
#import just what you need i.e. if you know what you need
#you can also do from math import * if you are tired of doing math. all the time
# I avoid it as it can clash with your variables. 
#for example if you e as variable and then you cannot use e from math directly..

In [8]:
#get pi
from math import pi

In [9]:
pi

3.141592653589793

## String data in Python
 Strings can be declared using an apostrophe/single quote('), double quotes("), 3 apostrophes(''') or 3 double quotes("""). You can use all these interchangeably, as long as you wrap your string with the same set of symbols i.e. if you cannot begin a string with a single quote and end with a double quote.

In [10]:
#either single apostrophes or double quotes or even triple apostrophes or triple double quotes
astring = 'singleapostrophe'

In [17]:
#what about 'John's bag' ? 
bstring = "John's bag"
bstring

"John's bag"

In [ ]:
#what if the string has a single quote??
#easy.. just use double quote!

In [ ]:
#what if double quotes? use single quotes

In [ ]:
cstring

In [ ]:
#Unpacking a string

In [12]:
dstring = 'unpack'

In [14]:
l1,l2,l3,l4,l5,l6 = dstring

In [18]:
l3

'p'

In [ ]:
#extracting items from strings

In [19]:
astring

'singleapostrophe'

In [ ]:
#remember this.. helpful and useful for list and arrays later on
 #  0   1   2   3   4   5   6    7  8   9  10  11 12  13  14  15  
 # -16 -15 -14 -13 -12 -11 -10 -9 -8  -7  -6  -5  -4  -3  -2  -1

In [20]:
astring[0]

's'

In [21]:
astring[-1]

'e'

In [ ]:
#Slicing and dicing

In [22]:
astring[0:2]

'si'

In [25]:
#start (including), end(not including)
astring[-4:-1]

'oph'

In [24]:
astring[-4:]

'ophe'

In [33]:
#reverse it
astring[-1:-5:-1]

'ehpo'

In [26]:
#reverse the whole string
astring[-1::-1]

'ehportsopaelgnis'

In [34]:
#repeating a string
astring*3

'singleapostrophesingleapostrophesingleapostrophe'

In [35]:
#Immutable.. cannot be altered
astring[0] = 'u'

TypeError: 'str' object does not support item assignment

In [40]:
str1 = 'hello'
str2 = 'world'

In [41]:
#concatenate
str1 + str2

'helloworld'

In [42]:
str3 = str1 + ' ' + str2

### Builtin string methods

In [45]:
#change to upper case
str3_upper = str3.upper()
str3_upper

'HELLO WORLD'

In [47]:
#lower case
str3_lower = str3_upper.lower()
str3_lower

'hello world'

In [48]:
#capitalize
str3.capitalize()

'Hello world'

In [50]:
#note that it hasnt changed str3, if you want to change do str3 = str3.capitalize()
str3 = str3.capitalize()
str3

'Hello world'

In [51]:
#count a particular element
str3.count('l')

3

In [52]:
 #returns position of first l
str3.find('l')

2

In [59]:
#make a title
str3 = 'hell0' + ' ' + "w0rld"
str3.title()

'Hell0 W0Rld'

In [60]:
#substitite an element
str3 = str3.replace('0','o')
str3

'hello world'

In [61]:
#split.. useful in text analytics
str3.split()

['hello', 'world']

In [63]:
#splitting by o
str3.split('o')

['hell', ' w', 'rld']

In [64]:
#split by # ... tweets!
'#FlyEaglesFly'.split('#')

['', 'FlyEaglesFly']

In [65]:
#use join
str1
str4 = ' '.join(str1)
str4

'h e l l o'

In [66]:
#length of a string
len(str1)

5

In [67]:
#check methods
#checks if all characters are alphanumeric
str1.isalnum()

True

In [70]:
#istitle?
str3.istitle()

False

In [69]:
#upper?
str3.isupper()

False

In [68]:
#lower?
str3.islower()

True

In [71]:
#endswith...
'hello'.endswith('o')

True

In [76]:
#startswith....
'hello'.startswith('o')

False

In [77]:
#split again
'hello'.split('l')

['he', '', 'o']

In [78]:
#can partition too
'hello'.partition('l')

('he', 'l', 'lo')

## Inputing, Printing and formatting

In [85]:
# Fill the form
#use input from a user
name = input('Enter your name: ')
age = int(input('Enter your age: ')
email = input('Enter your email id: ')

print("Name\t\t:\t", name.upper())
print("Age\t\t:\t", age)      
print("Email\t\t:\t", email.upper())

SyntaxError: invalid syntax (<ipython-input-85-854d9dc2520d>, line 5)

In [ ]:
name = "Alex"
age = 15

In [84]:
print('My name is {} and my age is {}'.format(name,age))

NameError: name 'name' is not defined

In [ ]:
#by default print() prints a new line after printing whatever we asked.. but we can change this behavior by using end

In [ ]:
#you can print multiple values at a time

In [ ]:
#formatted strings or f-strings; Python 3 addition to directly use the variable into the string instead of passing
# arguments through .format as above
print(f'My name is{name}and my age is {age}

In [ ]:
#you can use !r to get string representation too

In [ ]:
#check out https://docs.python.org/3/reference/lexical_analysis.html#f-strings for more details.

## Boolean

In [86]:
False

False

In [87]:
True

True

In [88]:
#booleans are string versions of ints so arithmetic operations works
True+1

2

In [89]:
True+3

4

In [90]:
#three boolean operators and, or, and not
1 and 0

0

In [91]:
0 or 0

0

In [92]:
not 0

True

In [93]:
False or True

True

In [94]:
False and True

False

### casting to convert types

In [95]:
a=100
type(a)

int

In [96]:
#convert to string is as simple as
str(a)

'100'

In [99]:
#one application of casting
age = 20
print('My name is John and my age is ' +str(age))

My name is John and my age is 20

## List Examples

In [ ]:
#creating a list
my_list = list()
#or
my_list = []

In [101]:
#list can have almost anything, numbers (both real and complex), strings and even lists
my_list = [1,2, 3, 4,'a', [1, 2]]
my_list

[1, 2, 3, 4, 'a', [1, 2]]

In [102]:
#length of list
len(my_list)

6

In [104]:
#adding an element
#also remember that lists are ordered i.e elements hold their places
my_list.append(10)
my_list

[1, 2, 3, 4, 'a', [1, 2], 10, 10]

In [ ]:
#adding contents of another list to the list using extend
my_list_extra('some', 'random', 'additions')

In [ ]:
#you can also merge lists using +

In [ ]:
#clearing a list

In [ ]:
#inserting an element at a particular position

In [ ]:
#remove an element based on the index

In [ ]:
#remove the element based on its index and output the element

In [ ]:
#if you dont supply it with the index, it removes the last element

In [ ]:
#accessing list element is same as discussed in string

In [ ]:
#last element.. dont need to know how many elements

In [ ]:
#to access nested lists

In [ ]:
#updating is intuitive and lists are mutable

### Slicing

In [ ]:
#always remember this mapping..

In [ ]:
#print("Age\t\t:\t", age)   
#0   1    2     3       4       5       6          7 
#-8 -7   -6    -5      -4      -3      -2         -1

In [ ]:
#slicing to get till the second element, remember index starts with 0 and ends with 2 (2 not including)

In [ ]:
#0 is optional

In [ ]:
#if you want to access from reverse i.e last three elements

In [ ]:
#if you want to reverse the list

In [ ]:
#it wont change the original list unless you assign it to my_list

In [ ]:
#if you want to reverse the list, another method

#### Iterating over a list

In [ ]:
#sometimes you would want the index of the element; say you want to manipulate just the 4th element differently in a loop

In [ ]:
#membership test in list

#### List of numbers

In [ ]:
list_numbers = [20,30,10,5,2,100,25]

In [ ]:
#max and min

In [ ]:
#output the sorted without changing the original list

In [ ]:
#hasnt changed

In [ ]:
#sort and change the list

In [ ]:
#if you want the index of a particular element

When to use lists: <br>
* Ordering matters
* more than one type of elements
* you want the ability to change the elements.
* duplicate elements are allowed

## Tuples

Ordered collection of elements but are immutable (cannot change) and less flexible compared to lists. But useful if you do not want the data inside unchanged throughout.

In [ ]:

#or

In [ ]:
#Immutable! cannot be changed and hence useful if you do not want the data inside to change

In [ ]:
#merging tuples

In [ ]:
#unpacking is similar to string and list

In [ ]:
#sometimes you want the flexibility of list and you can convert a tuple to a list

In [ ]:
#or the other way round

When to use a tuple:
* number of elements is known and small
* usually to return multiple values from a function (later on)
* you dont want the data to be changes
* more efficient performance wise..

## Dictionaries
Unordered collection of key:value pairs. One of the most powerful data structure.. used extensively to store 
unstructured data. Represented by {}

In [ ]:
#creating a dictionary

#or

In [ ]:
#or simply enter data as follows

In [ ]:
grades

In [ ]:
#add more data

In [ ]:
grades

In [ ]:
#if you want a list of keys and values

In [ ]:
#if you want to convert it to list

In [ ]:
#similarly for values

In [ ]:
#if you want to get key,value pairs from a dictionary use items

In [ ]:
#iterating and printing a dictionary

In [ ]:
#you can also use update method to add elements to a dictionary

In [ ]:
#if you want to get the value of a particular key

In [ ]:
#or use get
#if 'Alice is not found you return 0'

In [ ]:
#you can also pop dictionary value by item

In [ ]:
#Understanding assignments and copying .. same for lists
#sometimes you would want to keep the original dictionary as it is

In [ ]:
#if we simply assign the dictionary

In [ ]:
#what about grades?

In [ ]:
#to avoid this use shallow copy or deep copy depending on the circumstance.. google for the difference

In [ ]:
#doesnt change grades

In [ ]:
#you can use grades.clear() to clear the dictionary

#### Sorting dictionaries
You might have to sort your dictionary many a times..
We will learn about lambda function a little later

In [ ]:
#if you want to sort by the key

## Sets

Sets denoted by {} are equivalent to mathematical sets (probabality theory in your undergrad); unique elements and set operations such as union, intersection, differences..

In [ ]:
#think of this as unique list..

In [ ]:
#remember set doesnt support indexing

In [ ]:
# cannot subscript to access sets as it doesnt make sense for an unordered collection of elements
s[0]

In [ ]:
#you can access set elements as in a list

In [ ]:
#updating sets from another set
s1 = {5,7,11,13}
s.update(s1)
s

In [ ]:
#set operations

In [ ]:
#difference

In [ ]:
#intersection

In [ ]:
#union set

In [ ]:
#can also do this to get union

In [ ]:
#you can also use intersection_update

In [ ]:
#isdisjoint, issubset and issuperset

In [ ]:
#check disjoint

In [ ]:
#check subset

In [ ]:
#check super set

In [ ]:
#sorting sets
#try Shift+ Tab inside sorted(...) shift+tab+tab for more help!

In [ ]:
#remove elements

In [ ]:
#if you are not sure if the element is in the set before removing, use discard

In [ ]:
#note difference between remove and discard.. remove raises error

In [ ]:
#if you want an immutable set, use frozen set

In [ ]:
#try adding

In [ ]:
#Advanced: Only hashable objects can be set elements i.e. only immutable data types i.e. strings, integers, floats, tuples, frozen sets
# lists and dictionaries cannot be part of sets

Sets should be used:
* unique set of values
* no nested values involved
* data may change as sets are mutable
* use frozensets if you want immutable
* if you want to find union, intersection or set operations, useful in calculating similarity measures (cosine, jaccard etc)

## Compare

<h2> Table of Comparison Operators </h2><p>  In the table below, a=1 and b=2.</p>

<table class="table table-bordered">
<tr>
<th style="width:10%">Operator</th><th style="width:45%">Description</th><th>Example</th>
</tr>
<tr>
<td>==</td>
<td>If the values of two operands are equal, then the condition becomes true.</td>
<td> (a == b) is not true.</td>
</tr>
<tr>
<td>!=</td>
<td>If values of two operands are not equal, then condition becomes true.</td>
<td>(a != b) is true</td>
</tr>
<tr>
<td>&gt;</td>
<td>If the value of left operand is greater than the value of right operand, then condition becomes true.</td>
<td> (a &gt; b) is not true.</td>
</tr>
<tr>
<td>&lt;</td>
<td>If the value of left operand is less than the value of right operand, then condition becomes true.</td>
<td> (a &lt; b) is true.</td>
</tr>
<tr>
<td>&gt;=</td>
<td>If the value of left operand is greater than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &gt;= b) is not true. </td>
</tr>
<tr>
<td>&lt;=</td>
<td>If the value of left operand is less than or equal to the value of right operand, then condition becomes true.</td>
<td> (a &lt;= b) is true. </td>
</tr>
</table>

In [ ]:
#you can also use chain comparison operators

## Logical operators

In [ ]:
#multiple groups

In [ ]:
#can also use 'is' and 'is not'.. more intuitive?

## Conditional (if, else)

In [ ]:
#Indentations are important!

In [ ]:
#want to get input from users?

## While loop
The general format of a while loop is:

    while test:
        code statements
    else:
        final code statements

In [ ]:
#infinite loops to be aware of
#Dont run but if you do press the 'stop' button (interrupt the kernel)

## Range

In [ ]:
#step of 2

## For
The most popular and widely used loop is For loop

In [ ]:
#To print all items in seq

In [ ]:
# in and for makes it very easy!

We can use <code>break</code>, <code>continue</code>, and <code>pass</code> statements in our loops to add additional functionality for various cases. The three statements are defined by:

    break: Breaks out of the current closest enclosing loop.
    continue: Goes to the top of the closest enclosing loop.
    pass: Does nothing at all.
    You can use pass as a space filler for a future code

In [ ]:

        #pass nothing but can add logic later.. think of it as a placeholder

In [ ]:
#break skips the inner loop

In [ ]:
#continue skips the iteration

In [ ]:
#remember that sometimes usage of break and continue are frowned upon..because of interpretation issues
#I have found them to be useful, but use with care!

### Nested loops

In [ ]:
#matrix multiplication for size 2 matrices

In [ ]:
# a bad way to show matrix multiplication, there is a geat library for matrix operations that we will see later

### Random numbers or should I say pseudo random?

In [ ]:
#random int between x and y

In [ ]:
#random.random() gives number between 0 and 1.. important when you deal with probabilities

In [ ]:
#we will see more of random in numpy later